#zagolovoc{
    background-color: cadetblue;
    
}
#datte{
    border: none;
    background-color: white;
    text-align: center;
}
td:nth-child(1){
    font-weight: bold   ;
}
tr:nth-child(odd){
    background-color: aqua;
}
tr:hover{
    background-color: yellow;
}

td:nth-child(even){
    border-right: dotted black 2px;
    border-bottom: black dotted 2px;
    border-left: black dotted 2px;
}
td:nth-child(odd){
    border-bottom: dotted black 2px;
}
td:last-child{
    border-right: none;
}