.otstyp{
    text-indent: 20px;
}
li::marker{
    content: url(pusto.jfif);
}
li img{
    display: none;
}
li:hover img{
    display: block;
    position: absolute ;
    left: 100%;
    top: 0;
    margin-left: 10px;
}
a{
    position: relative;
}
ul{
    padding: 0;
    margin-left: 20px;
}
div{
    border: gray solid 0.1px;
    border-radius: 0 20px 0px 20px;
}
