div {
    border-radius: 5px;
}

.Schedule {
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    width: 130px;
    color: white;

}

.week {
    border-radius: 5px;
    border: 1px solid black;
    transition: 1s;
    float: left;
    flex-direction: row;
    width: 133px;
    color: antiquewhite;
    background-color: #BF360C;
}

.week:hover .Schedule {
    display: block;
}

.Schedule>div {
    background-color: #6e6b3c;
}


@media all and (max-width: 500px) {
    div {
    border-radius: 5px;
}

.Schedule {
    border-radius: 5px;    
    clear: left;
    display: none;
    width: 130px;
    color: white;
    position: absolute;
    left: 100%;
    

}

.week {
    border-radius: 5px;
    width: 130px;
    color: antiquewhite;
    background-color: #BF360C;
}

.week:hover .Schedule {    
    position: relative;
    top: -25px;
    }

.Schedule>div {
    background-color: #6e6b3c;
    border:  1px solid black;
}
.week:hover {
    height: 25px; 
}
.od{
    transition: 1s ;
}
}


