
#c1{
    background-image: url(cards.7e0a18f0.png); 
    background-repeat: no-repeat;
    background-position: -426px -1190px;
    width: 155px; height: 200px; 
}
#c2{
    background-image: url(cards.7e0a18f0.png); 
    background-repeat: no-repeat;
    background-position: 5px -1790px;
    width: 150px; height: 200px;  
}
#c3{
    background-image: url(cards.7e0a18f0.png); 
    background-repeat: no-repeat;
    background-position: -285px -1390px;
    width: 150px; height: 200px;      
}
#c4{
    background-image: url(cards.7e0a18f0.png); 
    background-repeat: no-repeat;
    background-position: 5px -2185px;
    width: 150px; height: 200px;  
}
#c5{
    background-image: url(cards.7e0a18f0.png); 
    background-repeat: no-repeat;
    background-position: 5px -2386px;
    width: 150px; height: 200px;  
}